<div class="card">

  <div class="card-header">
    <div class="float-left">
      <h4>Cursos</h4>
    </div>
    <div class="float-right">
      <button class="btn btn-primary" [routerLink]="['novo']">Novo Curso</button>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-hover" *ngIf="cursos$ | async as cursos; else requestDatas">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Curso</th>
          <th scope="col"><span class="float-right"></span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos">
          <td >{{curso['id']}}</td>
          <td>{{curso['title']}}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm mr-1" (click)="onEdit(curso['id'])"  >Atualizar</button>
              <button class="btn btn-outline-danger mb-1 btn-sm">Remover</button>
          </span>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #requestDatas>

    <div *ngIf="service.error$ | async; else processDatas">
      <h6 class="text-center">Não há dados.</h6>
    </div>
    <ng-template #processDatas>
      <h5 class="text-center">Processando dados...</h5>
    </ng-template>

  </ng-template>

</div>
